# dependencies
node_modules/
.pnpm-store/

# turbo
.turbo/

# build outputs
dist/
build/
.expo/
.expo-shared/
web-build/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor
.vscode/*
!.vscode/extensions.json
.idea/

# os
.DS_Store
Thumbs.db

# testing
coverage/

# native
ios/
android/
*.ipa
*.apk

# misc
*.tsbuildinfo
